h1 {
  color: #a6a6a6;
  padding-top: 3px;
  padding-left: 39%;
  font-family: "Arvo", serif;
}

body {
  font-family: "Poppins", sans-serif;
}

input[type="text"] {
  display: block;
  margin: 0 auto;
  width: 30%;
  margin-top: 13px;
}
h2 {
  font-size: 24px;
}

h4 {
  padding-top: 7px;
}

.placeholder1 {
  width: 100%;

  display: block;
}

.container {
  padding-top: 3%;
}

.forecast {
  display: block;
  padding-left: 48%;
  color: #7c7c7c;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
}
.col-3 {
  text-align: right;
  font-size: 22px;
  text-transform: capitalize;
}
.col {
  text-align: center;
}
.smallplaceholder {
  width: 100%;
  height: 76px;
  background-color: darkgrey;
}

.weekly {
  padding-right: 15%;
  padding-left: 15%;
  text-align: center;
  font-weight: 600;
}

.keyvisual {
  height: 300px;
  padding-top: 50px;
}

.low-container {
  background: #9f88bf;
  max-width: 100% !important;
  padding-bottom: 3%;
  font-family: "Poppins", sans-serif;
}

.header {
  background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  max-width: 100% !important;
  height: 170px;
}

.date {
  padding-left: 40%;
  color: #626262;
  font-family: "Poppins", sans-serif;
}

input {
  width: 80% !important;
}
.weatherbutton {
  display: inline-flex;

  margin-top: 10px;
  justify-content: center;
  width: 55% !important;
  flex-wrap: wrap;
  padding: 5px !important;
  border: 3px solid #ffb52b;
  background-color: white;
  border-radius: 8px;
  color: #ffb52b;
  font-weight: 600;

  font-family: "Arvo", serif;
}

.current {
  display: inline-flex;
  font-family: "Arvo", serif;
  margin-top: 10px;
  justify-content: center;
  width: 55%;
  flex-wrap: wrap;
  padding: 5px !important;
  border: 3px solid #a9a9a9;
  background-color: white;
  border-radius: 8px;
  color: #a9a9a9;
  font-weight: 600;
}

.weather-icon {
  width: 64px;
  height: auto;
  padding-top: 5px;
}
.float-left {
  float: left !important;
}

#temperature {
  font-size: 50px;
  margin-left: 10px;
  font-family: "Poppins", sans-serif;
}

#fahrenheit-link,
#celsius-link {
  text-decoration: none;
}

.weather-temperature .active {
  color: #868686;
}

.credits {
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.forecast .units {
  position: relative;
  top: -25px;
  font-family: "Poppins", sans-serif;
}
.headingAll {
  padding-left: 7%;
}
.credits a {
  text-decoration: none;
  color: darkslateblue;
}

.forecast-temperature-min {
  color: darkslateblue !important;
}

ul {
  list-style-type: none;
  margin: 0 !important;
  padding: 0 !important;
  font-size: 15px;
}

@media screen and (max-width: 1024px) {
  img.keyvisual {
    width: 190px;
  }
}

@media screen and (max-width: 1024px) {
  .heading {
    font-size: 25px;
  }
  .headingAll {
    padding-left: 5px;
  }

  h1,
  .date {
    padding-left: 0px;
  }
  .current {
    width: 80px;
  }
  #weatherButton {
    width: 80px !important;
  }

  #temperature {
    font-size: 46px !important;
  }

  #weather-icon {
    display: none;
  }
  .forecast {
    padding-left: 15px;
  }

  .units,
  ul {
    display: block;

    top: 1px !important;
  }

  ul {
    padding-top: 6px !important;
  }
}
