h1 {
  color: #A6A6A6;
  padding-top: 3px;
  padding-left: 40%;
  font-family: 'Arvo', serif;
}

body {
  font-family: 'Poppins', sans-serif;
}

input[type="text"] {
  display: block;
  margin: 0 auto;
  width: 30%;
  margin-top: 13px;
}
h2 {
  font-size: 24px;
}

h4 {
  padding-top: 7px;
}

.placeholder1 {
  width: 100%;

  display: block;
}

.container {
  padding-top: 3%;
}

.forecast {
  display: block;
  padding-left: 32%;
  color:#7C7C7C;
  text-transform: capitalize;
  font-family: 'Poppins', sans-serif;
}
.col-3 {
  text-align: right;
  font-size: 22px;
  text-transform: capitalize;
}
.col {
  text-align: center;
}
.smallplaceholder {
  width: 100%;
  height: 76px;
  background-color: darkgrey;
}

.weekly {
  padding-right: 15%;
  padding-left: 15%;
}

.keyvisual {
  height: 300px;
  padding-top: 50px;
}

.low-container {
  background: rgb(118, 95, 155);
  max-width: 100% !important;
  padding-bottom: 7%;
  font-family: 'Poppins', sans-serif;
}

.header {
  background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  max-width: 100% !important;
  height: 170px;
}

.date {
  padding-left: 40%;
  color: #626262;
font-family: 'Poppins', sans-serif;
}

input {
  width: 80% !important;
}
.weatherbutton {
  display: inline-flex;

  margin-top: 10px;
  justify-content: center;

  flex-wrap: wrap;
  padding: 5px !important;
  border: 2px solid #f29200;
  background-color: white;
  border-radius: 20px;
  color: #f29200;
  font-weight: 600;
}

.current {
  display: inline-flex;
font-family: 'Poppins', sans-serif;
  margin-top: 10px;
  justify-content: center;
  width: 80%;
  flex-wrap: wrap;
  padding: 5px !important;
  border: 2px solid lightgreen;
  background-color: white;
  border-radius: 20px;
  color: lightgreen;
  font-weight: 600;
}

.weather-icon {
  width: 64px;
  height: auto;
  padding-top: 5px;
}
.float-left {
  float: left !important;
}

#temperature {
  font-size: 50px;
  margin-left: 10px;
  font-family: 'Poppins', sans-serif;
}

#fahrenheit-link,
#celsius-link {
  text-decoration: none;
}

.credits {
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.forecast .units{
  position: relative;
  top: -25px;
  font-family: 'Poppins', sans-serif;

}

@media screen and ( max-width: 1024px ) {
img.keyvisual { width: 190px; }
}

@media screen and ( max-width: 1024px ) {
.heading { font-size: 19px; }
}

